.container {
    text-align: left !important;
  }
  

  .about_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about_boxes_inside {
    min-width: 280px; 
    width: 20%; 
    margin: 20px;
    padding: 20px;
    border-bottom: 3px dotted #d5dbe6;
    
  }
  
  .about_box_title {
    font-weight: 500;
  
    padding-top: 16px;
    margin-bottom: 20px;
  }
  
  .aboutimg
  {
    margin-top: 20px;
    border:  3px solid #bc8246;
  }
  
  .aboutimg:hover
  {
    margin-top: 20px;
    border:  6px solid #bc8246;
  }
  
  .about_explore,
  .about_shop {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about_explore h2,
  .about_shop h2 {
    max-width: 100%; /* Adjust as needed */
    text-align: center;
    font-size: 28px; /* Adjust as needed */
    font-weight: 600;
  }
  
  .about_shop_heading {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #333; /* Adjust color as needed */
  }
  
  .about_shop_heading div {
    background-color: black;
    border-radius: 50%;
    height: 8px;
    width: 8px;
  }
  
  /* Adjustments for image responsiveness */
  .hov-img0 img {
    width: 100%; /* Ensures images fill their container */
    height: auto; /* Maintains aspect ratio */
  }
  