/* homepageSlider.css */

/* Default styles */

/* Carousel item content */
.sliderCon {
  padding: 15px;
  margin-top: 40px !important;
  background: white;
}

.carousel-item-content {
  position: relative;
}

/* Content text */
.content-text {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  width: 500px; /* Default width for larger screens */
}

.content-text h1,
.content-text p {
  margin-bottom: 10px;
}

.content-text button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px; 
  border: none;
  cursor: pointer;
}

.sliderheading{
  animation-delay: .5s !important;
  animation-duration: .5s !important;
  line-height: 1.2 !important;
  color: #323232 !important;
  margin-bottom: 14px !important;
  font-size: 36px !important;
  font-weight: 400px !important;
}

/* Carousel indicators */
.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators li {
  background-color: red; 
  border: none;
  width: 10px; 
  height: 10px; 
  margin: 0 5px; 
}

.carousel-indicators .active {
  background-color: white; 
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .content-text {
    width: 400px;
  }
}

@media (max-width: 992px) {
  .content-text {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .content-text {
    width: 100%;
    padding: 0 20px;
   
    left: 0;
    right: 0;
  }

  .content-text h1 {
    font-size: 24px; 
  }

  .content-text p {
    font-size: 14px; 
  }

  .content-text button {
    font-size: 14px; 
    padding: 8px 16px; 
  }
}

@media (max-width: 576px) {
  .content-text {
    padding: 0 10px;
    text-align: left;
  }

  .content-text h1 {
    font-size: 20px; 
  }

  .content-text p {
    font-size: 12px;
  }

  .content-text button {
    font-size: 12px; 
    padding: 6px 12px; 
  }
}
