
.loading_btn {
    padding: 20px;
    margin: auto;
    width: 250px;
    /* background: #bc8246; */
    border: 0.1px solid rgb(131, 128, 128);
}
.loading_btn:hover{

    color: white;
        background: #bc8246;
}