.catdropdown_subcatcontainer {
  /* background-color: #fff; */
  border: 1px solid #ccc;

  padding: 5px;
  position: absolute; /* Adjust positioning as needed */
  top: 100%;
  left: 0;
  z-index: 1;
  display: block; /* Ensure the subcategory list is initially visible */
  color: black;
}

.subcatval {
  color: #333;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}

.subcatval:hover {
  /* background-color: #f0f0f0; */
}
