.catval:after {
  content: '\25BC';
  margin-left: 5px;
  color: #ccc;
  
}

.ListItems {
  color: #ccc !important;
  display: inline-flex;
  margin-left: 20px;
  position: relative;

}

.catdropdown_subcatcontainer {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.ListItems:hover .catdropdown_subcatcontainer {
  display: block;
}

.subcatval {
  color: #333;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}

.subcatval:hover {
  background-color: #f0f0f0;
}
