.search_container_fluid{
    margin: 2px;
}
@media (max-width: 570px) {
    .search_container_fluid{
        margin: 2px !important;
    }
}
.searchList_container{
    text-align: center;
}
.search_list{
    padding: 15px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}