
.product-box {
  overflow: hidden;
  position: relative;
  padding: 13px;
  transition: box-shadow 0.3s ease;
} 

.product-img-box {
  text-align: center;
  /* background: #000; Container background color */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; /* Box shadow */
  position: relative;
  margin-top: 10px;
}

.product-image {
  width: 100%;
  height: auto; /* Ensure the image maintains its aspect ratio */
  object-fit: cover; /* Cover the container with the image, maintaining aspect ratio */
  cursor: pointer;
  transition: transform 0.3s ease;
  mix-blend-mode: multiply; /* Blend mode to blend image with the container background */
  background-color: transparent; /* Make sure image background is transparent */
}



.product-icons {
  position: absolute;
  top: 80%;

  left: 80%;

  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 70px;
  
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product-icon{

color: rgb(139, 135, 135);

}


.product-box:hover .product-icons {
  opacity: 1;
}

.product-icons .product-icon {
  cursor: pointer;
  transition: transform 1s ease;
}

/* Flip animation */
.product-image:hover {
  animation: flip 1s ease both;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
